
<h2 id="about">Sobre mí</h2>

<p>
    Entre mis aficiones se encuentra <b>aprender música</b>, concretamente guitarra y tengo planeado seguir con el
    piano.
    También los <b>videojuegos</b>, especialmente los multijugador y los de terror. Disfruto coleccionando y
    resolviendo
    puzzles tipo <b>Cubo de Rubik</b>, normalmente a <b>contrarreloj</b> con un cronómetro.
</p>

<p>
    Tengo la suerte de que <b>mi trabajo es también una de mis aficiones</b>, y por ello, aprendo gustosamente nuevas
    cosas útiles para mi trabajo en mi tiempo libre, siempre que no esté haciendo algo de lo dicho anteriormente.
</p>
<div class="footer"></div>