<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>devPaezRubio</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/skeleton/stylesheets/skeleton.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.core.css">
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.tooltip.css">
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/animations.css">
    <link rel="stylesheet" href="styles/reset.css">
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,400italic' rel='stylesheet'
          type='text/css'>

</head>
<body data-ng-app="devPaezRubio">
<div class="container" ng-controller="i18nCtrl">
    <div class="four columns">
        <div class="sidebar">
            <div class="menu">
                <ul>
                    <li>
                        <a class="menu-item" href="#/{{ 'link_index' | i18n }}" ng-bind="'menu_index' | i18n"></a>
                    </li>
                    <li>
                        <a class="menu-item" href="#/{{ 'link_competences' | i18n }}" ng-bind="'menu_competences' | i18n"></a>
                    </li>
                    <li>
                        <a class="menu-item" href="#/{{ 'link_skills' | i18n }}" ng-bind="'menu_skills' | i18n"></a>
                    </li>
                    <li>
                        <a class="menu-item" href="#/{{ 'link_works' | i18n }}" ng-bind="'menu_works' | i18n"></a>
                    </li>
                    <li>
                        <a class="menu-item" href="#/{{ 'link_about' | i18n }}" ng-bind="'menu_about' | i18n"></a>
                    </li>
                    <li>
                        <a class="menu-item" href="#/{{ 'link_contact' | i18n }}" ng-bind="'menu_contact' | i18n"></a>
                    </li>
                    <li class="menu-langs">
                        <a href="" ng-click="setLang('en')"><img src="images/flags/en.png" alt="en"/></a>
                        <a href="" ng-click="setLang('es')"><img src="images/flags/es.png" alt="es"/></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="twelve columns offset-by-four content">
        <div ui-view class="view-container"></div>
    </div>
</div>

<!-- build:js({.tmp,app}) scripts/vendors.js -->

<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/jquery-ui/ui/jquery.ui.core.js"></script>
<script src="bower_components/jquery-ui/ui/jquery.ui.widget.js"></script>
<script src="bower_components/jquery-ui/ui/jquery.ui.position.js"></script>
<script src="bower_components/jquery-ui/ui/jquery.ui.tooltip.js"></script>
<script src="bower_components/underscore/underscore.js"></script>
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>

<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="directives/simple-tooltip.js"></script>
<script src="services/internationalitation-service.js"></script>
<script src="controllers/i18n-controller.js"></script>
<script src="filters/i18n-filter.js"></script>
<!-- endbuild -->
</body>
</html>
