
<h2 id="competences">Competencias</h2>

<div>
    <div class="three columns alpha">
        <div class="competences-pict"></div>
    </div>
    <div class="nine columns omega">
        <p>
            Me gusta escribir buen código: <b>limpio</b>, <b>escalable</b>, basado en <b>patrones de diseño</b>. Soy
            amante del
            <b>código
                bien desarrollado</b> y disfruto cuando programar se convierte en un desafío. No me detiene ninguna falta de
            conocimiento
            si existe un libro que hable sobre ese tema. A diferencia de muchos otros programadores, no me da
            miedo leer
            una publicación de especificación de un estándar, RFC, o lo que sea necesario para profundizar en un
            tema
            concreto.
        </p>
    </div>
</div>
<p style="clear: left;">
    Como mis herramientas de trabajo no pueden faltar un buen <b>IDE</b>, <b>debugger</b>, un <b>editor de texto</b>
    rápido y
    flexible, y
    sobre
    todo
    una <b>consola de comandos</b>. Por supuesto el <b>café</b> y la pared llena de <b>pizarras para dibujar</b> se dan
    por hecho.
</p>

<p>
    Soy un gran defensor del <b>Open Source</b>, y utilizo recursos desarrollados por la comunidad de desarrolladores
    siempre
    que puedo (salvo alguna manía imposible de eliminar hoy en día). Además me apoyo en <b>frameworks</b> siempre que
    los
    requerimientos se ajusten a sus funcionalidades. Me encaaaaaaanta <b>desarrollar mediante TDD</b>, no hay mejor
    sensación
    en el mundo que ver como todos los tests devuelven OK.
</p>

<p>
    Y por último, mencionar que <b>disfruto trabajando en equipos profesionales</b>, así como con ténicas de
    organización como <b>Scrum</b>.
</p>
<div class="footer"></div>