
<h2 id="contact">Contacto</h2>

<p>
    Muchas gracias por interesarte por mi página. Si tienes alguna <b>pregunta o sugerencia</b> puedes contactar conmigo
    a
    través de <a href="mailto:contact@devpaezrubio.com">mi correo electrónico</a> o redes sociales. ¡Es fácil contactar
    conmigo!
</p>

<div class="social-icons">
    <a class="social-icon" href="https://github.com/epaezrubio" id="social-icon-github"></a>
    <a class="social-icon" href="http://stackoverflow.com/users/3459298/eduardo-paez" id="social-icon-stack-overflow"></a>
    <a class="social-icon" href="https://twitter.com/devPaezRubio" id="social-icon-twitter"></a>
    <a class="social-icon" href="https://www.linkedin.com/profile/view?id=342725541" id="social-icon-linkedin"></a>
</div>

<div class="footer"></div>