
<h2 id="home">Inicio</h2>

<p>
    Hola, soy <b>Eduardo Páez </b>, un <b>programador software y web</b> especialista en <b>JavaScript</b>
    trabajando
    actualmente en Ion2s. Vengo del sur de España donde tuve la oportudad de estudiar <b>Desarrollo de
    Aplicaciones
    Web</b>. Para saber más de mí mira mi trabajo en mi <a href="#/{{ getLang() }}/works">porfolio</a>, <a
        href="http://blog.devpaezrubio.com/es/">blog</a> o <a
        href="https://github.com/epaezrubio">repositorios</a>.
    Si quieres, sientete libre de <a href="" data-scroll-to="contact">contactar conmigo</a> por redes sociales o correo
    electrónico.
</p>
