<h2 id="skills">Habilidades</h2>

<div class="skillgroup-list">
    <div class="skillgroup">
        <div class="skillgroupname">
            <h4>Web</h4>
        </div>
        <div class="skill html5-skill">
            <div class="skillname">
                HTML5:
            </div>
            <div class="skillpercent" simple-tooltip title="Canvas, WebGL, WebSockets, Phonegap, etiquetas semánticas">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="110"></rect>
                </svg>
            </div>
        </div>
        <div class="skill javascript-skill">
            <div class="skillname">
                JavaScript:
            </div>
            <div class="skillpercent" simple-tooltip title="SPA, AngularJS, jQuery, Ember.js">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="150"></rect>
                </svg>
            </div>
        </div>
        <div class="skill css3-skill">
            <div class="skillname">
                CSS3:
            </div>
            <div class="skillpercent"
                 simple-tooltip title="Compass, SASS, Bootstrap, jQuery UI / Mobile, animaciones CSS3, diseño responsivo...">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="120"></rect>
                </svg>
            </div>
        </div>
    </div>

    <div class="skillgroup">
        <div class="skillgroupname">
            <h4>Bases de datos</h4>
        </div>
        <div class="skill mongodb-skill">
            <div class="skillname">
                MongoDB:
            </div>
            <div class="skillpercent" simple-tooltip title="Replicación, sharding, índices eficientes, Mongoose...">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="140"></rect>
                </svg>
            </div>
        </div>
        <div class="skill mysql-skill">
            <div class="skillname">
                SQL:
            </div>
            <div class="skillpercent" simple-tooltip title="MySQL, PostgreSQL, SQL Server, SQLite...">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="130"></rect>
                </svg>
            </div>
        </div>
        <div class="skill neo4j-skill">
            <div class="skillname">
                Neo4j:
            </div>
            <div class="skillpercent">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="100"></rect>
                </svg>
            </div>
        </div>
    </div>

    <div class="skillgroup left">
        <div class="skillgroupname">
            <h4>Servidor</h4>
        </div>
        <div class="skill nodejs-skill">
            <div class="skillname">
                Node.js:
            </div>
            <div class="skillpercent" simple-tooltip title="NPM, Grunt, Bower, Yeoman, Express, socket.io, Karma, Jasmine...">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="110"></rect>
                </svg>
            </div>
        </div>
        <div class="skill apache-skill">
            <div class="skillname">
                Apache:
            </div>
            <div class="skillpercent">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="80"></rect>
                </svg>
            </div>
        </div>
        <div class="skill rails-skill">
            <div class="skillname">
                Rails:
            </div>
            <div class="skillpercent">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="50"></rect>
                </svg>
            </div>
        </div>
    </div>

    <div class="skillgroup">
        <div class="skillgroupname">
            <h4>Software</h4>
        </div>
        <div class="skill java-skill">
            <div class="skillname">
                Java:
            </div>
            <div class="skillpercent" simple-tooltip title="JEE, JAX-RS">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="90"></rect>
                </svg>
            </div>
        </div>
        <div class="skill php-skill">
            <div class="skillname">
                PHP:
            </div>
            <div class="skillpercent" simple-tooltip title="Symfony 2, Wordpress, Magento, Joomla, Typo3, Smarty...">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="120"></rect>
                </svg>
            </div>
        </div>
        <div class="skill aspx-vb-skill">
            <div class="skillname">
                ASP.NET / VB:
            </div>
            <div class="skillpercent" simple-tooltip title="MVC3, RAZOR">
                <svg width="150" height="20" class="skillbar">
                    <rect height="25" width="40"></rect>
                </svg>
            </div>
        </div>
    </div>
</div>
<div class="footer"></div>