
<h2 id="about">About</h2>

<p>
    Between my hobbies you find <b>learning music</b>, I am currently learning guitar and I have already planned
    learning piano after that. Also <b>videogames</b>, specially the multiplayer and horror-survival ones. I enjoy
    collecting and solving puzzles like <b>Rubik's Cube</b>, normally against a clock.
</p>

<p>
    I am lucky that <b>my job is also my hobby</b> and therefore, I learn new useful things for my personal projects
    or for my job in my free time, when I am not doing anything of the said before.
</p>
<div class="footer"></div>