
<h2 id="competences">Competences</h2>

<div>
    <div class="three columns alpha">
        <div class="competences-pict"></div>
    </div>
    <div class="nine columns omega">
        <p>
            I like writting nice code: <b>clean</b>, <b>scalable</b>, based in <b>design patterns</b>. I am a lover
            of the <b>well-developed code</b> an I really enjoy when programming turns into a challenge. Any lack
            of skill does not stop me if there is a book that talks about that topic. Unlike other developers, I am
            not afraid of reading a specification, standard, RFT or whatever is needed to get deeper into a given topic.
        </p>
    </div>
</div>
<p style="clear: left;">
    Between my work tools must be a good <b>IDE</b>, a <b>debugger</b>, a fast and flexible <b>text editor</b> and last but not least, a
    <b>command console</b>. Of course coffee and whiteboards for painting are taken for granted.
</p>

<p>
    I am a supporter of <b>Open Source</b>, and I use resources developed by the community when it is possible (except
    some cases impossible to change nowadays). Moreover, I am a great friend of <b>frameworks</b> when the requirements
    fit to its functionality. I loooooove the <b>TTD developing</b>, there is no better satisfaction in the world
    than seeing your tests returning OK.
</p>

<p>
    To conclude I would like to say that I <b>enjoy working in professional teams</b>, and also organization techniques
    like <b>Scrum</b>
</p>
<div class="footer"></div>