
<h2 id="contact">Contact</h2>

<p>
    Thank you for showing interest for my website. If you have any <b>questions or recomendations</b> you can contact
    with me in my <a href="mailto:contact@devpaezrubio.com">e-mail</a> or social networks. It is easy to contact with me!
</p>

<div class="social-icons">
    <a class="social-icon" href="https://github.com/epaezrubio" id="social-icon-github"></a>
    <a class="social-icon" href="http://stackoverflow.com/users/3459298/eduardo-paez" id="social-icon-stack-overflow"></a>
    <a class="social-icon" href="https://twitter.com/devPaezRubio" id="social-icon-twitter"></a>
    <a class="social-icon" href="https://www.linkedin.com/profile/view?id=342725541" id="social-icon-linkedin"></a>
</div>

<div class="footer"></div>