<h2 id="home">Index</h2>

<p>
    Hi, I am <b>Eduardo Páez Rubio</b>, a <b>web and software developer</b> specialist in <b>JavaScript</b> currently
    working at Ion2s. I come from the south of Spain where I had the opportunity to study <b>Web Applications
    Development</b>. To know more about me, check my work in my <a href="#/{{ getLang() }}/works">portfolio</a>, <a
        href='http://blog.devpaezrubio.com'>blog</a> or <a href='https://github.com/epaezrubio'>repositories</a>. Feel
    free to <a href='' data-scroll-to='contact'>contact with me</a> via social networking sites or email.
</p>
