
<h2 id="works">Works</h2>

<p>
    List of projects in which I have taken part:
</p>

<div class="works-circles">
    <a class="circle" href="" id="works-pp"></a>
    <a class="circle" href="http://www.kabeldeutschland.de/" id="works-kabel-deutschland"></a>
    <a class="circle" href="http://www.rightlivelihood.org/" id="works-right-lively-hood"></a>
    <a class="circle" href="http://fktg.org/" id="works-fktg"></a>
    <a class="circle" href="http://www.citoliva.es/" id="works-citoliva"></a>
    <a class="circle" href="http://www.begonavelasco.com/" id="works-begona"></a>
    <a class="circle" href="http://www.tierrasvivas.es/" id="works-tierras-vivas"></a>
    <a class="circle" href="http://avanzapublicidad.es/" id="works-avanza"></a>
    <a class="circle" href="http://www.2pirdifferent.net/" id="works-2pir"></a>
</div>

<div class="footer"></div>